
<div class="margin">
  <div class="card card-oultine-primary">

    <div class="card-block">
      <h3 class="card-title"></h3>
      <% if user_signed_in? -%>
        <p class="card-text"><%= link_to "Add to shopping list", recipe_add_to_shopping_list_path(@recipe) %></p>
      <% end %>

      <p class="card-text" id="yield"></p>

      <h4 class="card-title">Ingredients</h4>

      <ul class="list-group list-group-flush">
      </ul>

      <h4 class="card-title">Instructions</h4>
      <p class="card-text" id="content"></p>

    </div>
    <div class="card-block">
      <% if user_signed_in? -%>
        <%= link_to "Edit", edit_recipe_path(@recipe), class: "card-link" %>
        <%= link_to "Delete", recipe_path(@recipe), class: "card-link", method: 'delete' %>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  var id = <%= @recipe.id %>;
<% end %>

<script type="text/javascript">
  $(document).ready(function() {

    $.get('/recipes/' + id + '.json').done(function(data) {
      var recipe_ingredients = data["ingredients"];
      $('.card-title').text(data["title"]);
      $('#yield').text("Serving Size: " + data["yield"]);

      for (ingredient of recipe_ingredients) {
        $('ul.list-group').append('<li class="list-group-item">' + ingredient["name"] + ', ' + ingredient["quantity"] + '</li>');
      }

      $('#content').text(data["content"]);
    });
  }); // show recipe ajax
</script>
