<h1>Welcome!</h1>
<h2>Browse Recipes:</h2>

<%= form_tag("/", method: "get") do %>
  <%= select_tag "ingredient", options_from_collection_for_select(@ingredients, "id", "name"), include_blank: true %>
  <%= submit_tag "Filter" %>
<% end %>

<ul class="list-group">

</ul>
<%= javascript_tag do %>
  var currentUserId = <%= current_user.id %>;
<% end %>
<script type="text/javascript">
  $(document).ready(function() {
    var currentUser, header;
    var favoriteIds = [];

    $.get('/users/' + currentUserId + '/favorites_data').done(function(response) {
      currentUser = response;
      for ( element of currentUser.favorites ) {
       favoriteIds.push(element.id);
      }
    }); // end current_user favorites ajax


    $.get('/recipes.json').done(function(data) {
      header = '';
      for (var index in data) {
        header += '<div class="row-fluid">' +
                       '<li class="list-group-item" style="height:50px;">' +
                          '<div class="col-md-8">' +
                            '<a href="/recipes/' + data[index].id + '" id="' + data[index].id + '" class="js-recipe-show">' + data[index].title + '</a>' +
                          '</div>'
        if (currentUser) {
          if (favoriteIds.includes(data[index].id)) {
            header  +=  '<div class="col-md-4">' +
                          '<a href="/recipes/' + data[index].id + '/unfavorite">' + "Unfavorite" + '</a>' +
                        '</div>'
          } else {
            header  +=  '<div class="col-md-4">' +
                          '<a href="/recipes/' + data[index].id + '/favorite">' + "Favorite" + '</a>' +
                        '</div>'
          }
        }
      }

      $('.list-group').html(
            header +
          '</li>' +
        '</div>'
      )
    }); // end recipes index ajax
  });
</script>
