<h1>Welcome!</h1>

<%= form_tag("/", method: "get") do %>
  <%= select_tag "ingredient", options_from_collection_for_select(@ingredients, "id", "name"), include_blank: true %>
  <%= submit_tag "Filter" %>
<% end %>

<ul class="list-group">
  <% @recipes.each do |recipe| %>
    <div class="row-fluid">
      <li class="list-group-item" style="height:50px;">
        <div class="col-md-8">
          <%= link_to recipe.title, recipe_path(recipe) %>
        </div>
        <% if current_user.favorites.include?(recipe) %>
          <div class="col-md-4">
            <%= link_to "Unfavorite", favorite_recipe_path(recipe, type: "unfavorite"), method: :put, class: "text-right" %>
          </div>
        <% else %>
          <div class="col-md-4">
            <%= link_to "Favorite", favorite_recipe_path(recipe, type: "favorite"), method: :put, class: "text-right" %>
          </div>
        <% end %>
      </li>
    </div>
  <% end %>
</ul>
