<nav class="navbar navbar-light bg-faded">
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-toggleable-md" id="navbarResponsive">
    <%= link_to "Home", root_path, class: "navbar-brand" %>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <% if user_signed_in? -%>
          <li class="nav-item"><%= link_to "Sign Out", destroy_user_session_path, method: "delete", class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "#{current_user.email}", user_path(current_user), class: "nav-link" %></li>
        <% else -%>
          <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Sign In", new_user_session_path, class: "nav-link" %></li>
        <% end -%>
      </ul>
  </div>
</nav>
